* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.App {
  text-align: center;
  height: 200vh;
}
